body {
  margin: 0;
  padding: 0;
  
}

.mealCardBody {
  margin: 0;
  padding: 2px;
  height: 90px;
  overflow: auto;
}

.mealCard {
  margin: 0;
  width: auto;
}

.mainContent {
  margin: 50px 0 0 0;
}

.mealPlannerContainer {
  margin: 5px;
  padding: 5px;
}

.mealCardHeader{
  padding: 5px 0 0 10px;
}

.menuItemsContainer {
  margin: 5px;
  padding: 5px;
}

.menuItemsCard {
  margin: 0;
  width: 100%;
  padding: 0;
  height: 337px;
  overflow: auto;
}
.menuItemPill {
  margin: 1px 0 0 0;
  width: auto;
  padding: 3px;
  overflow: hidden;
}